/*
 * Created by jub on 20.03.2019.
/*----------------------------------------------------------------
        Category List Styling
----------------------------------------------------------------*/
.cat_01, .cat_02 {
    background: var(--color-main);
    height: auto;
    padding: var(--padding-category);
    border: 2px solid transparent;
    box-shadow: 0 0 20px 0 var(--color-shadow5);
    transition: box-shadow 500ms ease;
}

.cat_01 {
    max-width: calc(40ch - (2 * var(--padding-category)));
}

.cat_01:not(:first-child) {
    margin-top: 10px;
}

.cat_02 {
    max-width: calc(120ch + 10px);
    margin-top: 10px;
}

.cat_01:hover, .cat_02:hover {
    box-shadow: 0 0 25px 0 var(--color-shadow5);
    transition: box-shadow 500ms ease;
}

.cat_group{
    float: left;
    margin: var(--margin-category);
}

.cat_group:first-child {
    margin-left: 0;
}

.cat_group:last-child {
    margin-right: 0;
}

.cat_select {
    border: 2px solid var(--color-child01);
    transition: box-shadow 500ms ease;
}

.catPreText {
    user-select: none;
}
