a {
    color: var(--color-text-link);
    padding: 0 10px;
    text-decoration: none;
    white-space: nowrap;
    transition: color 400ms;
}

a:hover {
    color:inherit;
    transition: color 150ms;
}

a:before {
    color: var(--color-text-link);
    transition: color 0ms;
}

.font_bold {
    font-weight: bold;
}

.font_pre01 {
    color: var(--color-text-pre01);
}

.font_pre02 {
    color: var(--color-text-pre02);
}

.font_pre03 {
    color: var(--color-text-pre03);
}




