/*
 * Created by jub on 22.03.2019.
/*----------------------------------------------------------------
        General Styling
----------------------------------------------------------------*/
html {
    --color-bg:             #171819;
    --color-main:           #262830;
    --color-selection:      #ffecba;

    --color-text-link:      #8a8ea3;
    --color-text-content:   #F4E7D3;
    --color-text-pre01:     #FFA06F;
    --color-text-pre02:     #F38181;
    --color-text-pre03:     #c5f0a4;

    --color-shadow5:     rgba(0,0,0,.5);
    --color-shadow75:    rgba(0,0,0,.75);

    --hight-searchBox:  48px;
    --width-label:      10ch;
    --width-category:   40ch;
    --padding-category: 10px;
    --margin-category:  5px;
    --font-size-normal: 16px;

    min-height: 100vh;
    background: var(--color-bg);
    font-family: 'Varela Round', sans-serif;
    font-size: var(--font-size-normal);
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 0 0;
}

.spacer_top {
    height: 150px;
}

/*----------------------------------------------------------------
        Rules
----------------------------------------------------------------*/
/* Width of Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-bg);
    -webkit-box-shadow: inset 3px 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 3px 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 3px 0 6px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-main);
    background: rgba(90,92,104,.6);
    -webkit-box-shadow: inset 3px 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 3px 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 3px 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(60,62,74,.8);
}

/*----------------------------------------------------------------
        Page Styling
----------------------------------------------------------------*/
header {
    position: relative;
    color: var(--color-text-content);
    background: var(--color-main);
    max-width: calc(120ch + 12px + (2 * var(--padding-category)));
    height: auto;
    margin: 0 auto 10px;
    box-shadow: 0 0 20px 0 var(--color-shadow5);
    transition: box-shadow 500ms ease;
}

header:hover {
    box-shadow: 0 0 25px 0 var(--color-shadow75);
    transition: box-shadow 500ms ease;
}

#content {
    position: relative;
    color: var(--color-text-content);
    background: transparent;
    max-width: calc(120ch + 32px);
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    font-family: inherit;
    font-size: inherit;
}

/*----------------------------------------------------------------
        Search Box
----------------------------------------------------------------*/
#searchBoxPreText {
    position: absolute;
    display: inline;
    margin: 12px 12px;
    padding-bottom: 0;
}

#searchInput {
    display: inline;
    background: transparent;
    color: var(--color-text-link);
    outline: none;
    border: 2px solid transparent;
    box-sizing: border-box;
    font: inherit;
    height: var(--hight-searchBox);
    width: 100%;
    margin-top: 0px;
    padding-left: 9ch;
    padding-right: 1ch;
    transition: color 500ms, border 300ms, box-shadow 500ms, border-radius 300ms;

}

#searchInput:focus {
    color: var(--color-text-content);
    border: 2px solid var(--color-selection);
    transition: color 300ms, border 300ms, box-shadow 500ms, border-radius 300ms;
}
